<%- include('partials/header') %>

<div class='navbar'>
<h1>Earthquake Store</h1>
</div>


<div class='row'>
	<div class='col-lg-6 col-6'>

		<img src="images/earth.jpg" class="img-fluid">

	</div>

	<div class='col-lg-6 txt-center'>

		<h1>Information</h1>

</div>



<%- include('partials/footer') %>