<%- include('partials/header') %>

<div class='navbar'>
<h1>Earthquake Store</h1>
</div>


<div class='row'>
	<div class= 'col-lg-6 '>

		<img src="images/earth.jpg" class="img-fluid">

	</div>

	<div class='information col-lg-6'>

		<h1 class='info text-center'>Information</h1>
		
		<div class='list'> 
			<ul>
			<li>Earthquake Data from 2015 - 2018</li>
			<li>From Every State of India.</li>
			<li>Of any time.</li>
			</ul>
		</div>

	</div>
</div>


<%- include('partials/footer') %>